@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 
h3 {
    /* font-family: Roboto; 
    font-size: 18px;
    font-weight: 500;
    color: #091747; */

    color: var(--black, hsla(210, 100%, 1%, 0.586));

 

    /* H3 */
    font-family: Roboto !important;
    
    font-style: normal;
    font-weight: 700;
    
    

}

h1 {
    /* font-family: Roboto; 
    font-size: 18px;
    font-weight: 500;
    color: #091747; */

    color: var(--black, hsla(210, 100%, 18%, 0.586));

 

    /* H3 */
    font-family: Roboto !important;
    
    font-style: normal;
    font-weight: 700;
    
    

}

body{
    font-family:Roboto !important;
    font-style: normal;
}
.st-emotion-cache-16idsys{
    font-family: Roboto !important;
    font-weight: 800 !important;
    font-size: 18px !important;
}

.st-ae {
    font-family: Roboto;

    font-weight: 800;
    font-size: 18px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div:nth-child(1){ 
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #1BDAFF, #154AAD);
    background: #FFF;
    box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 25px;
}